<a href="https://colab.research.google.com/github/antoreep-jana/Data-Analysis-using-Python/blob/master/Data_Analysis_DateTime_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df = pd.read_csv('DJ.csv', parse_dates = ['Date'], index_col = ['Date'])

FileNotFoundError: ignored

In [0]:
df.head()

In [0]:
df.shape

In [0]:
df.loc[0][0].day_name()

In [0]:
df.iloc[:,0].dt.day_name()

In [0]:
df['Date'].dt.day_name()

In [0]:
#df['Date'].max()
df.idxmax()

In [0]:
df.index.max()

In [0]:
df.index.min()

In [0]:
df.index.max() - df.index.min()

In [0]:
df['Date'].min()

In [0]:
df['Date'].max() - df['Date'].min()

In [0]:
1824/365

In [0]:
filt = (df['Date'] >= '2019')
df[filt]

In [0]:
import matplotlib.pyplot as plt
plt.figure()
plt.xlabel('Time')
plt.ylabel('Value')
plt.xticks()
df['Close'].plot()

In [0]:
df[filt].iloc[:,0]

In [0]:
filt = df.index >= '2019'
df[filt]

In [0]:
# use of to_datetime

In [0]:
data = pd.DataFrame(['05SEP2014:00:00:00.000'], columns = ['MyCol'])
#data['MyCol'] = pd.to_datetime(data['MyCol'], format = '%d%b%Y:%H:%M:%S.%f')

In [0]:
data['MyCol']

In [0]:
# method 2 

import datetime as dt

data['MyCol1'] = data['MyCol'].apply(lambda x : dt.datetime.strptime(x, '%d%b%Y:%H:%M:%S.%f'))

In [0]:
data

In [0]:
# apply on multiple columns

data[{'col1', 'col2', 'col3'}] = data[['col1', 'col2', 'col3']].apply(pd.to_datetime)

In [0]:
data['MyCol'] = pd.to_datetime(data['MyCol'], infer_datetime_format = True)

In [0]:
# Errors 'coerce' error

data = dict(dates = ['01-May-2012  16:44:55.113',
                   '01-Jun-2012  18:49:57.466',
                   '01-May-2012  14:64:45.119',  # <--- Error, minute can't be more than 60
                   '01-May-2012  14:23:55.113'])

In [0]:
df1 = pd.DataFrame(data)
df1.dates = pd.to_datetime(df1.dates, errors='coerce')

In [0]:
filt = df1.dates == 'NaT'

df1[filt]

In [0]:
df = pd.DataFrame([[0,1,2,3],
                   [1, 5, 2, pd.NaT],
                   [8,None, 10, None],
                   [11,12,13,pd.NaT]
                   ],
                  columns = list('ABCD')
                  )

In [0]:
df

In [0]:
df.dropna()

In [0]:
# What are all the missing data formats (standard) -> NaN, pd.NaT, None

In [0]:
df.dropna(subset = ['C'])  #when to use, when you are only concerned with missing data in target field

In [0]:
df3 = pd.DataFrame({'Sumission Time' : 'Wed Apr 12 14:42:23 PDT 2017'})

In [0]:
df3

In [0]:

df3['Submission Time'] = pd.to_datetime(df3['Submission Time'])

In [0]:
df3

In [0]:
# Period Index in datetime series
# PeriodIndex is deprecated, period_range is used.

pidx = pd.period_range(start = '2005-12-21 08:45', end = '2005-12-21 11:55', freq = 'H')
print(pidx)

In [0]:
pidx.freq

In [0]:
pidx = pd.period_range(start = '2011-02-1', end = '2011-08-14', freq = 'M')
print(pidx)

In [0]:
## Concatenating two dataframes with different formats for datetime

from datetime import datetime

date_time_str = '2018-12-31 23:59:18'
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')

date_time_str2 = date_time_obj.strftime('%d/%m/%Y %H:%M:%S')
print(date_time_str2)

In [0]:
## Working with Quarters

In [0]:
df = pd.DataFrame({'per' : ['Q1-2009', 'Q3-2007']})

df['date'] = (pd.period_range(df['per'].str.replace(r'(Q\d)')))

basic feature engineering

In [0]:
df = pd.DataFrame({'date' : ['20180131', '20180611','20180513']})

In [0]:
#
#df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d)
df['date'] = pd.to_datetime(df['date'])

In [0]:
df.dtypes

In [0]:
import datetime as dt

In [0]:
df['year'] = df['date'].dt.year

In [0]:
df

In [0]:
df['month'] = df['date'].dt.month

In [0]:
df['day'] = df['date'].dt.day

In [0]:
df

working with years written in different format

In [0]:
df = pd.DataFrame({'date' : ['01-06-1970',
                             '01-06-1991',
                             '01-06-1969'
                             ,'01-06-1968']})

In [0]:
df['date'] = pd.to_datetime(df['date'], format = '%d-%m-%Y')

In [0]:
df

In [0]:
df = pd.DataFrame({
    'date' : ['01-06-01',
              '01-06-02',
              '01-06-18',
              '01-06-20',
              '01-06-67']
})

In [0]:
df['date'] = pd.to_datetime(df['date'], format = '%d-%m-%y')

In [0]:
df

In [0]:
def year_transform(date_arg):
  #date = pd.to_datetime(date)
  a = datetime.strptime(date_arg, '%d-%m-%y').date()
  b = datetime.now()
  b = datetime.strptime(b.strftime('%m-%d-%Y') , '%m-%d-%Y').date()

  if b <= a: # *then* must be in the past
    a = a.replace(year=a.year - 100)
  return a

In [0]:
year_transform('01/01/68')

In [0]:
year_transform('01/01/02')

In [0]:
df = pd.DataFrame({
    'date' : ['01-06-01',
              '01-06-02',
              '01-06-18',
              '01-06-20',
              '01-06-67']
})

In [0]:
df['date'] = df['date'].apply(year_transform)

In [0]:
df

In [0]:
a = datetime.strptime('01/01/68', '%d/%m/%y').date()

In [0]:
b = datetime.now()

In [0]:
b = datetime.strptime(b.strftime('%m-%d-%Y'), '%m-%d-%Y').date()

In [0]:
a

In [0]:
b

In [0]:
if b <= a:
  a = a.replace(year = a.year - 100)

In [0]:
a

In [0]:
b

In [0]:
a

In [0]:
# What do we do, we use regular expressions

df['date'] = df['date'].str.replace(r'-(\d+)$', r'-19\1')
df

In [0]:
df['date'] = pd.to_datetime(df['date'], format = '%d-%m-%Y')

In [0]:
df

In [0]:
# strptime and strftime

"""
strptime - used to convert string to datetime
- can be used when the string(usually the input) needs to be rendered in datetime64[ns] format

strftime  - used to convert datetime back to string

 - can be used when there is a need for string modification  
"""